.card-title {
  text-align: center;
  margin: 15px;
  font-size: 25px;
}

body{margin-top:20px;
  background-color:#eee;
  }
  .card {
      margin-bottom: 24px;
      box-shadow: 0 2px 3px #e4e8f0;
  }
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #eff0f2;
      border-radius: 1rem;
  }


  a {
      text-decoration: none!important;
  }

  .badge-soft-success {
      color: #63ad6f !important;
      background-color: rgba(99,173,111,.1);
  }


